<img src=<%= @user.photo %>>
<p><%= @user.name%></p>
<p><%= @user.posts_counter%></p>
<h3>Bio</h3>
<p><%= @user.bio%></p>
<%= @posts.each_with_index do |post ,index|%>
<h3>Posts <%= index + 1 %></h3>
<p><%= post.title%></p>
<p><%= post.text%></p>
<p><%= post.comments_counter%></p>
<p><%= post.likes_counter%></p>
<% end %>
<%= link_to 'See all posts',  user_posts_path(@user) %>
